<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado Clientes</title>

    <!-- La hoja de estilo local (main.css) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <!-- Plantilla de Bootstrap -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lumen/bootstrap.min.css" integrity="sha384-GzaBcW6yPIfhF+6VpKMjxbTx6tvR/yRd/yJub90CqoIn2Tz4rRXlSpTFYMKHCifX" crossorigin="anonymous">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&family=Honk&display=swap" rel="stylesheet">
</head>
<body>
{% extends "menu.html" %}
    <div class="content">
        {% block content %}
        <h2 class="display-4 text-center mt-4">Listado Clientes</h2>
         <!-- Listado de productos en una tabla -->
            <table class="table table-hover" >
                <thead class="table-primary" >
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">DNI</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">APELLIDOS</th>
                        <th scope="col">DIRECCION</th>
                        <th scope="col">PROVINCIA</th>
                        <th scope="col">CP</th>
                        <th scope="col">E-MAIL</th>
                        <th scope="col">TELF</th>
                        <th scope="col">CONTRASEÑA</th>
                        <th scope="col">ROL</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                {% for cliente in lista_cliente %}
                    <tr>
                        <td>{{cliente.id_cliente}}</td>
                        <td>{{cliente.dni}}</td>
                        <td>{{cliente.nombre}}</td>
                        <td>{{cliente.apellidos}}</td>
                        <td>{{cliente.direccion}}</td>
                        <td>{{cliente.provincia}}</td>
                        <td>{{cliente.cp}}</td>
                        <td>{{cliente.email}}</td>
                        <td>{{cliente.telf}}</td>
                        <td>
                            <div>
                                <a href="/restablecer-password/{{cliente.id_cliente}}">
                                    <button class="btn btn-warning">Restablecer</button>
                                </a>
                            </div>
                        </td>
                        {% for rol in roles %}
                             {% if rol.id_rol == cliente.rol %}
                                <td>{{rol.name_rol}}</td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            <div>
                                <a href="/eliminar-cliente/{{cliente.id_cliente}}">
                                    <button class="btn btn-danger">Eliminar</button>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            {% if msg_correcto %}
                <p class="text-success" style="font-size: 20px; font-weight: bold;">{{ msg_correcto }}</p>
            {% endif %}
            </table>
        </div>

{% endblock %}
</body>
</html>